{% extends "base.html" %}

{% block title %}
  NBA Matches
{% endblock %}

{% block content %}
<div class="box">
  <h2>NBA Matches</h2>
  <div style="position: relative; width: 100%; height: 0; padding-top: 40%; padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden; border-radius: 8px; will-change: transform;">
	<iframe loading="eager" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0; margin: 0;" src="https://www.canva.com/design/DAGDDbRMF-A/Rlbh-N5C9dejMcUVZNGb5w/view?embed"></iframe>
  </div>
  <p>Here under matches, see the latest games that your team has played!
    Also, dig into the stats of the game to see if your team won so you can get a clue on where you might stand in the weekly rankings!</p>
</div>
<div class="box">
  <ul>
    {% for match in match_list %}
      <li><a href="{% url 'nba:match_detail' match.slug %}">{{ match.match_name }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}

