{% extends "base.html" %}

{% block title %}NBA Matches: {{match.match_name }} {% endblock title %}

{% block content %}
<div class="box">
    <h2>{{ match.match_name }}</h2>

    {% if match.match_date %}
        <p>Match Date: {{ match.match_date }}</p>
    {% endif %}

    {% if match.winner_id %}
        <p>Winner: {{ match.winner_id }}</p>
    {% endif %}
    <div style="position: relative; width: 100%; height: 0; padding-top: 40%;
 padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">
  <iframe loading="eager" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
    src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAGDPWQRpAk&#x2F;telPwUo7fD-a-Wk9qTyQ0w&#x2F;view?embed">
  </iframe>
</div>
    {% if match.score %}
        <p>Game Score: {{ match.score }}</p>
    {% endif %}
    </div>

    <div class="box">
    <h4>{{ match.team_id1 }} Stats:</h4>
    {% if match.team1_assists %}
    <p>Assists: {{ match.team1_assists}}</p>
{% endif %}
<div style="position: relative; width: 100%; height: 0; padding-top: 40%; padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">
  <iframe loading="eager" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
    src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAGDPUcWDzk&#x2F;wb7wJlSBqnXtH0ssyWaAgQ&#x2F;view?embed">
  </iframe>
</div>
{% if match.team1_rebounds %}
    <p>Rebounds: {{ match.team1_rebounds}}</p>
{% endif %}
<div style="position: relative; width: 100%; height: 0; padding-top: 40%;
 padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">
  <iframe loading="eager" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
    src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAGDPQg-N7A&#x2F;vk1oFGWQky8IXqn4jfpitw&#x2F;view?embed">
  </iframe>
</div>
{% if match.team1_shooting %}
    <p>Field Goal Percentage: {{ match.team1_shooting}}%</p>
{% endif %}
<div style="position: relative; width: 100%; height: 0; padding-top: 40%;
 padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">
  <iframe loading="eager" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
    src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAGDPQNqiQQ&#x2F;-LllvqTQvCSlWmulZgSJug&#x2F;view?embed">
  </iframe>
</div>
    </div>

    <div class="box">
<h4>{{ match.team_id2 }} Stats:</h4>
{% if match.team2_assists %}
    <p>Assists: {{ match.team2_assists}}</p>
{% endif %}
<div style="position: relative; width: 100%; height: 0; padding-top: 40%; padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">
  <iframe loading="eager" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
    src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAGDPUcWDzk&#x2F;wb7wJlSBqnXtH0ssyWaAgQ&#x2F;view?embed">
  </iframe>
</div>
{% if match.team2_rebounds %}
    <p>Rebounds: {{ match.team2_rebounds}}</p>
{% endif %}
<div style="position: relative; width: 100%; height: 0; padding-top: 40%;
 padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">
  <iframe loading="eager" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
    src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAGDPQg-N7A&#x2F;vk1oFGWQky8IXqn4jfpitw&#x2F;view?embed">
  </iframe>
</div>
{% if match.team2_shooting %}
    <p>Field Goal Percentage: {{ match.team2_shooting}}%</p>
{% endif %}
<div style="position: relative; width: 100%; height: 0; padding-top: 40%;
 padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">
  <iframe loading="eager" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
    src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAGDPQNqiQQ&#x2F;-LllvqTQvCSlWmulZgSJug&#x2F;view?embed">
  </iframe>
</div>
    </div>

{% endblock content %}