{% extends "base.html" %}

{% block title %}
  NBA Teams
{% endblock %}

{% block content %}
<div class="box">
  <h2>NBA Teams</h2>
  <img src="https://user-images.githubusercontent.com/11506653/61015562-1ff45080-a35a-11e9-9b5c-4a824268c3aa.png"
    width="1000"
    height="450">
  <ul>
    {% for team in team_list %}
      <li><a href="{% url 'nba:team_detail' team.slug %}">{{ team.team_name }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="box">
  <h1>Want to be part of a team?</h1>
  <select id="teamSelector" style="width: 300px;">
    <option value="">Select a team</option> <!-- Empty option -->
    <!-- Options will be populated here -->
  </select>
</div>

<script>
  // Assuming teams data is fetched from a database
  var teams = [
    {% for team in team_list %}
      { id: "{{ team.id }}", name: "{{ team.team_name }}" }{% if not forloop.last %},{% endif %}
    {% endfor %}
  ];

  var selector = document.getElementById("teamSelector");

  // Populate options
  teams.forEach(function(team) {
    var option = document.createElement("option");
    option.value = team.id;
    option.text = team.name;
    selector.appendChild(option);
  });
</script>

{% endblock %}

